.container {
	text-align: center;
	width: 80%;
	margin: 30px auto;
}

.dice {
	display: inline-block;
	text-align: center;
}

body {
	background: #8B572A ;
}

h1 {

	font-size: 4rem
	text-shadow: 5px 0 black;
	color: orange;

}

p {
	font-family: 'Nanum Gothic', sans-serif;
	color: white;
	font-size: 1rem;
}
img {
	width: 300px;
}
footer {
	margin-top: 10%;
	text-align: center;
	color: white
}